@import 'vars';

.productList{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

@media (max-width: 640px){
    .productList{
        grid-template-columns: repeat(auto-fill, 140px);
    }
}